.container{
    text-align: center;
    margin-top: 50px;
}

table{
    margin: auto;
    margin-bottom: 30px;
    
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #000000;
    font-size: 30px;
    background-color: rgb(255, 250, 250);
}
button:hover{
background-color: rgb(176, 176, 176);

}
.calculator{
    background-color: black;
    display: inline-block;
    border-radius: 20px;
}
.symbol{
    background-color: orangered;
   
}
.symbol:hover{
    background-color: rgb(226, 99, 53);
}

.screen {
    font-size: 24px;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    width: 318px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


#expression {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}


#result {
    font-size: 24px;
    font-weight: bold;
    color: black;
}